[submodule "fimrware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
[submodule "fimrware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
	branch = f92c189240cc0191356818fd8e32f174007d90f9
[submodule "fimrware/submodules/lcls-timing-core"]
	path = firmware/submodules/lcls-timing-core
	url = git@github.com:slaclab/lcls-timing-core
[submodule "fimrware/submodules/amc-carrier-core"]
	path = firmware/submodules/amc-carrier-core
	url = git@github.com:slaclab/amc-carrier-core
