[submodule "fimrware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
	branch = master
[submodule "fimrware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
	branch = master
[submodule "fimrware/submodules/lcls-timing-core"]
	path = firmware/submodules/lcls-timing-core
	url = git@github.com:slaclab/lcls-timing-core
	branch = master
[submodule "fimrware/submodules/amc-carrier-core"]
	path = firmware/submodules/amc-carrier-core
	url = git@github.com:slaclab/amc-carrier-core
	branch = master
